/* Основные стили для всего тела документа */
body {
    background-color: #FFFACD; /* Цвет фона */
    font-family: 'Times New Roman', Times, serif; /* Шрифт */
    font-size: 20px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
}

/* Заголовок первого уровня */
h1 {
    color: #ed3f00; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Выравнивание по центру */
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Заголовки второго и третьего уровней */
h3 {
    color: #ff5b3e; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Выравнивание по центру */
    margin: 15px 0; /* Отступы */
}

/* Основной текст в параграфах */
p {
    color: #300053; /* Цвет текста */
    font-size: 17px; /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
    margin: 10px 0; /* Отступы */
}

/* Меню */
.menu {
    font-size: medium; /* Размер шрифта */
    color: #832908; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Центрирование меню */
    margin: 20px 0; /* Отступы вокруг меню */
}

.menu a {
    color: #832908; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 0 15px; /* Отступы между ссылками */
}

.menu a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Нижний колонтитул */
footer {
    text-align: center; /* Центрирование текста */
    padding: 20px; /* Внутренние отступы */
    background-color: #f8f8f8; /* Цвет фона */
    color: #300053; /* Цвет текста */
}

/* Изображения */
.logo, .footer-logo, .logo1 {
    width: 200px; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
    display: block; /* Отображение как блочный элемент */
    margin: 0 auto; /* Центрирование изображения */
}