/* Основные стили для всего тела документа */
body {
    background-color: #FFFACD; /* Цвет фона */
    font-family: 'Arial', sans-serif; /* Шрифт */
    margin: 0; /* Убираем отступы */
    padding: 20px; /* Внутренние отступы */
}

/* Заголовок первого уровня */
h1 {
    color: #ed3f00; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Заголовки второго уровня */
h2 {
    color: #ff5b3e; /* Цвет текста */
    margin: 20px 0; /* Отступы */
}

/* Основной текст */
p {
    color: #333; /* Цвет текста */
    font-size: 18px; /* Размер шрифта */
    line-height: 1.6; /* Междустрочный интервал */
    margin: 15px 0; /* Отступы */
}

/* Стили для списка особенностей */
.features {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
}

.features li {
    background-color: #ffebcc; /* Цвет фона для элемента списка */
    border: 1px solid #ffcc99; /* Рамка */
    border-radius: 8px; /* Закругление углов */
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 15px; /* Внутренние отступы */
}

/* Стили для ссылок */
a {
    color: #300053; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Отображение как блочный элемент */
    text-align: center; /* Центрирование текста */
    margin-top: 20px; /* Отступ сверху */
    font-weight: bold; /* Жирный шрифт */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}