/* Основные стили для всего тела документа */
body {
    background-color: #FFFACD; /* Цвет фона */
    font-family: 'Arial', sans-serif; /* Шрифт */
    margin: 0; /* Убираем отступы */
    padding: 20px; /* Внутренние отступы */
}

/* Заголовок первого уровня */
h1 {
    color: #ed3f00; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для списка курсов */
.course {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    max-width: 800px; /* Максимальная ширина списка */
    margin: 0 auto; /* Центрирование списка */
}

/* Стили для элементов списка курсов */
.course > li {
    background-color: #ffebcc; /* Цвет фона для уровня курса */
    border: 1px solid #ffcc99; /* Рамка */
    border-radius: 8px; /* Закругление углов */
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 15px; /* Внутренние отступы */
}

/* Стили для подсписков */
.course ul {
    list-style-type: square; /* Квадратные маркеры для подсписков */
    padding-left: 20px; /* Отступ слева */
}

/* Стили для ссылок */
a {
    color: #300053; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для ссылки на главную страницу */
.home-link {
    display: block; /* Отображение как блочный элемент */
    text-align: center; /* Центрирование */
    margin-top: 20px; /* Отступ сверху */
    font-weight: bold; /* Жирный шрифт */
    color: #300053; /* Цвет ссылки */
}